<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quarkdata.data.dal.dao.ProjectTimelineMapper">
  <resultMap id="BaseResultMap" type="com.quarkdata.data.model.dataobj.ProjectTimeline">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="operate_type" jdbcType="CHAR" property="operateType" />
    <result column="operate_object_parent_type" jdbcType="CHAR" property="operateObjectParentType" />
    <result column="operate_object_type" jdbcType="CHAR" property="operateObjectType" />
    <result column="operate_object_id" jdbcType="BIGINT" property="operateObjectId" />
    <result column="operate_object_name" jdbcType="VARCHAR" property="operateObjectName" />
    <result column="operate_desc" jdbcType="VARCHAR" property="operateDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, project_id, tenant_id, operate_type, operate_object_parent_type, operate_object_type, 
    operate_object_id, operate_object_name, operate_desc, create_time, create_user, create_user_name
  </sql>
  <select id="selectByExample" parameterType="com.quarkdata.data.model.dataobj.ProjectTimelineExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from project_timeline
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project_timeline
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from project_timeline
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.quarkdata.data.model.dataobj.ProjectTimelineExample">
    delete from project_timeline
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.quarkdata.data.model.dataobj.ProjectTimeline">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into project_timeline (project_id, tenant_id, operate_type, 
      operate_object_parent_type, operate_object_type, operate_object_id, 
      operate_object_name, operate_desc, create_time, 
      create_user, create_user_name)
    values (#{projectId,jdbcType=BIGINT}, #{tenantId,jdbcType=BIGINT}, #{operateType,jdbcType=CHAR}, 
      #{operateObjectParentType,jdbcType=CHAR}, #{operateObjectType,jdbcType=CHAR}, #{operateObjectId,jdbcType=BIGINT}, 
      #{operateObjectName,jdbcType=VARCHAR}, #{operateDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.quarkdata.data.model.dataobj.ProjectTimeline">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into project_timeline
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        project_id,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="operateType != null">
        operate_type,
      </if>
      <if test="operateObjectParentType != null">
        operate_object_parent_type,
      </if>
      <if test="operateObjectType != null">
        operate_object_type,
      </if>
      <if test="operateObjectId != null">
        operate_object_id,
      </if>
      <if test="operateObjectName != null">
        operate_object_name,
      </if>
      <if test="operateDesc != null">
        operate_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="operateType != null">
        #{operateType,jdbcType=CHAR},
      </if>
      <if test="operateObjectParentType != null">
        #{operateObjectParentType,jdbcType=CHAR},
      </if>
      <if test="operateObjectType != null">
        #{operateObjectType,jdbcType=CHAR},
      </if>
      <if test="operateObjectId != null">
        #{operateObjectId,jdbcType=BIGINT},
      </if>
      <if test="operateObjectName != null">
        #{operateObjectName,jdbcType=VARCHAR},
      </if>
      <if test="operateDesc != null">
        #{operateDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.quarkdata.data.model.dataobj.ProjectTimelineExample" resultType="java.lang.Long">
    select count(*) from project_timeline
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update project_timeline
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=BIGINT},
      </if>
      <if test="record.tenantId != null">
        tenant_id = #{record.tenantId,jdbcType=BIGINT},
      </if>
      <if test="record.operateType != null">
        operate_type = #{record.operateType,jdbcType=CHAR},
      </if>
      <if test="record.operateObjectParentType != null">
        operate_object_parent_type = #{record.operateObjectParentType,jdbcType=CHAR},
      </if>
      <if test="record.operateObjectType != null">
        operate_object_type = #{record.operateObjectType,jdbcType=CHAR},
      </if>
      <if test="record.operateObjectId != null">
        operate_object_id = #{record.operateObjectId,jdbcType=BIGINT},
      </if>
      <if test="record.operateObjectName != null">
        operate_object_name = #{record.operateObjectName,jdbcType=VARCHAR},
      </if>
      <if test="record.operateDesc != null">
        operate_desc = #{record.operateDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update project_timeline
    set id = #{record.id,jdbcType=BIGINT},
      project_id = #{record.projectId,jdbcType=BIGINT},
      tenant_id = #{record.tenantId,jdbcType=BIGINT},
      operate_type = #{record.operateType,jdbcType=CHAR},
      operate_object_parent_type = #{record.operateObjectParentType,jdbcType=CHAR},
      operate_object_type = #{record.operateObjectType,jdbcType=CHAR},
      operate_object_id = #{record.operateObjectId,jdbcType=BIGINT},
      operate_object_name = #{record.operateObjectName,jdbcType=VARCHAR},
      operate_desc = #{record.operateDesc,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.quarkdata.data.model.dataobj.ProjectTimeline">
    update project_timeline
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="operateType != null">
        operate_type = #{operateType,jdbcType=CHAR},
      </if>
      <if test="operateObjectParentType != null">
        operate_object_parent_type = #{operateObjectParentType,jdbcType=CHAR},
      </if>
      <if test="operateObjectType != null">
        operate_object_type = #{operateObjectType,jdbcType=CHAR},
      </if>
      <if test="operateObjectId != null">
        operate_object_id = #{operateObjectId,jdbcType=BIGINT},
      </if>
      <if test="operateObjectName != null">
        operate_object_name = #{operateObjectName,jdbcType=VARCHAR},
      </if>
      <if test="operateDesc != null">
        operate_desc = #{operateDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quarkdata.data.model.dataobj.ProjectTimeline">
    update project_timeline
    set project_id = #{projectId,jdbcType=BIGINT},
      tenant_id = #{tenantId,jdbcType=BIGINT},
      operate_type = #{operateType,jdbcType=CHAR},
      operate_object_parent_type = #{operateObjectParentType,jdbcType=CHAR},
      operate_object_type = #{operateObjectType,jdbcType=CHAR},
      operate_object_id = #{operateObjectId,jdbcType=BIGINT},
      operate_object_name = #{operateObjectName,jdbcType=VARCHAR},
      operate_desc = #{operateDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectForUpdate" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project_timeline
    where id = #{id,jdbcType=BIGINT} for update
  </select>
</mapper>