<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 加载配置属性文件 -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath:config/config.properties" />

    <context:component-scan base-package="com.quarkdata.data" />
    <context:annotation-config></context:annotation-config>

	<!-- ehcache 缓存配置 -->
	<!-- <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:${ehcache.configFile}" />
	</bean> -->

	<!--import spring config-->
 	<import resource="classpath:config/mybatis.xml" />
	<import resource="classpath:config/spring-context-mvc.xml" />
	<import resource="classpath:config/spring-context-jedis.xml" />
	<import resource="classpath:config/spring-context-bean.xml" />
	<import resource="classpath:config/spring-context-mongo.xml" />
	<import resource="classpath:config/spring-context-quartz.xml" />

</beans>